TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
STRIPE_SECRET_KEY=

SECRET_KEY=
DEBUG=True
FINE_MULTIPLIER=2

STRIPE_SUCCESS_URL=http://127.0.0.1:8001/api/payments/success/
STRIPE_CANCEL_URL=http://127.0.0.1:8001/api/payments/cancel/
