# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# PyCharm
.idea/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
celerybeat-schedule
